@charset "UTF-8";
body h1 {
	font-size: 14px;
	color: #E2BB20;
}
.maintext {
	background-color: #249B84;
}
#mainlist {
	line-height: 30px;
	list-style-type: square;
}
#mainlist li {
	color: #5BAADA;
}
.lastitem {
	font-size: 30px;
}
body p {
	font-size: 20px;
}
.textunderline {
	font-weight: bold;
	text-decoration: underline;
	font-size: 20px;
}
.textclass1 {
	text-align: center;
	background-color:#6FBA86
}
.textclass2 {
	border: 1px dashed #1E909C;
}
